@font-face {
  font-family: SF Comic Script Extended;
  src: url(SF.ttf);
}

*{
    box-sizing: border-box;  
  }

  header{
    position: sticky;
    top: 10px;   

  }
  
  .imagen-banner{
    width:100vw;    
    height: 90px; 
  }

body{
    background-color: rgb(8, 8, 32);    
   
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:100vw; 
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(197, 192, 192);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(197, 192, 192);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align */
    margin: 0; /* Important for vertical align  */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(88, 82, 114);
    color:rgb(199, 121, 5);
    transition: all .2s;
  }
  
  /* extraido de 3wschool*/
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d4d3d3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(197, 192, 192);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .coleccion ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

.c-fotos img{
    border: 2px solid black;
    width: 300px;
    height: 200px;
}

.c-fotos{
    display: flex;
    gap: 5px;
    overflow:auto;

}

.column{
    float: right;
    width: 20%;
    padding:25px;
    height: 300px; 
    display: inline-table;
    margin: 30px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}
.row h3{
  font-family: SF Comic Script Extended;
  color:rgb(7, 26, 90);
  font-size: 20px;
}

.seccion_footer{
  background-color: #909daf;
   font-family:SF Comic Script Extended;  
   display: flex;
   
 }
 ul{
   list-style-type: none;
 }


.text_info{
  display: flex;
  margin-left: 200px;
 
}
.contacto{
  display: flex;
  margin-left: 200px;
 
  
}
.envios{
  display: flex;
  margin-left: 200px;
  
}






